#com-container {
    padding: 150px 0 0 0;
}


#ListContaner{
    width: 100%;
    background-color: #fff;
    .CompanyList {
        width: 96%;
        max-width: 900px;
        margin: 100px auto;
        padding: 80px 10px;
        li {
            border-bottom: 1px solid #ccc;
            margin-bottom: 25px;
            padding-bottom: 10px;
            line-height: 30px;
            // letter-spacing: 1px;
        }
    
        dl {
            display: flex;
            justify-content: space-between;
    
            dt {
                padding-left: 40px;
                font-weight: bold;
            }
    
            dd{
                width:65%;
                text-align: left;
            }
        }
    }
}



.menber {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
    .menber-contents {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        img {
            border-radius: 50%;
            width: 180px;
            height: 180px;
            object-fit: cover;
            vertical-align: middle;
            margin: 20px auto;
        }
        .m-text {
            text-align: center;
            .m-position {
                font-size: 13px;
                font-weight: bold;
            }
            .m-name {
                font-size: 20px;
                line-height: 40px;
            }
        }
    }
}

@media (max-width: 767px) {
    .menber {
        display: flex;
        flex-direction: column;
        img {
            border-radius: 50%;
            width: 120px !important;
            height: 120px !important;
            object-fit: cover;
            vertical-align: middle;
            margin: 20px auto;
        }
    }
    .CompanyList {
        font-size: 14px;
    }
    .m-text {
        text-align: center;
        .m-position {
            font-size: 11px !important;
            font-weight: bold;
        }
        .m-name {
            font-size: 16px !important;
            line-height: 40px;
        }
    }
}
