@charset "utf-8";

.s-box{
	opacity: 0;
}

// 下から
.fadeUpTrigger{
    opacity: 0;
}

/*==================================================
ふわっ 読み込まれてすぐ
===================================*/

/* その場で */
.fadeInTop3{
	animation-name:fadeInAnime;
	animation-duration:3s;
	animation-fill-mode:forwards;
	opacity:0;
	}
.fadeInTop2{
	animation-name:fadeInAnime;
	animation-duration:2s;
	animation-fill-mode:forwards;
	opacity:0;
	}
.fadeInTop{
	animation-name:fadeInAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	
	@keyframes fadeInAnime{
	  from {
		opacity: 0;
	  }
	
	  to {
		opacity: 1;
	  }
	}
	

	/* 上から */

.fadeDownTop{
	animation-name:fadeDownAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	
	@keyframes fadeDownAnime{
	  from {
		opacity: 0;
		transform: translateY(-100px);
	  }
	
	  to {
		opacity: 1;
		transform: translateY(0);
	  }
	}
	
	/* 左から */
	
	.fadeLeftTop4{
	animation-name:fadeLeftAnime;
	animation-duration:4s;
	animation-fill-mode:forwards;
	opacity:0;
	}

	.fadeLeftTop3{
		animation-name:fadeLeftAnime;
		animation-duration:3s;
		animation-fill-mode:forwards;
		opacity:0;
		}

	.fadeLeftTop2{
		animation-name:fadeLeftAnime;
		animation-duration:2s;
		animation-fill-mode:forwards;
		opacity:0;
		}

	.fadeLeftTop1{
		animation-name:fadeLeftAnime;
		animation-duration:1s;
		animation-fill-mode:forwards;
		opacity:0;
		}

	
	@keyframes fadeLeftAnime{
	  from {
		opacity: 0;
		transform: translateX(-100px);
	  }
	
	  to {
		opacity: 1;
		transform: translateX(0);
	  }
	}
	
	/* 右から */
	.fadeRightTop1{
		animation-name:fadeRightAnime;
		animation-duration:1s;
		animation-fill-mode:forwards;
		opacity:0;
		}
	
	.fadeRightTop2{
		animation-name:fadeRightAnime;
		animation-duration:2s;
		animation-fill-mode:forwards;
		opacity:0;
		}

	.fadeRightTop3{
	animation-name:fadeRightAnime;
	animation-duration:3s;
	animation-fill-mode:forwards;
	opacity:0;
	}

	.fadeRightTop4{
		animation-name:fadeRightAnime;
		animation-duration:4s;
		animation-fill-mode:forwards;
		opacity:0;
		}
	
	@keyframes fadeRightAnime{
	  from {
		opacity: 0;
		transform: translateX(100px);
	  }
	
	  to {
		opacity: 1;
		transform: translateX(0);
	  }
	}


	/* 下から */
	
	.fadeUpTop1{
	animation-name:fadeUpAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	.fadeUpTop2{
	animation-name:fadeUpAnime;
	animation-duration:2s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	.fadeUpTop3{
	animation-name:fadeUpAnime;
	animation-duration:3s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	.fadeUpTop4{
	animation-name:fadeUpAnime;
	animation-duration:4s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	
	@keyframes fadeUpAnime{
	  from {
		opacity: 0;
		transform: translateY(100px);
	  }
	
	  to {
		opacity: 1;
		transform: translateY(0);
	  }
	}



/*==================================================
ふわっ コンテンツ
===================================*/

/* その場で */
.fadeIn{
	animation-name:fadeInAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	
	@keyframes fadeInAnime{
	  from {
		opacity: 0;
	  }
	
	  to {
		opacity: 1;
	  }
	}
	
	/* 下から */
	
	.fadeUp{
	animation-name:fadeUpAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	
	
	@keyframes fadeUpAnime{
	  from {
		opacity: 0;
		transform: translateY(100px);
	  }
	
	  to {
		opacity: 1;
		transform: translateY(0);
	  }
	}
	
	/* 上から */
	
	.fadeDown{
	animation-name:fadeDownAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	
	@keyframes fadeDownAnime{
	  from {
		opacity: 0;
		transform: translateY(-100px);
	  }
	
	  to {
		opacity: 1;
		transform: translateY(0);
	  }
	}
	
	/* 左から */
	
	.fadeLeft{
	animation-name:fadeLeftAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	.fadeLeft1{
	animation-name:fadeLeftAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	.fadeLeft2{
	animation-name:fadeLeftAnime;
	animation-duration:2s;
	animation-fill-mode:forwards;
	opacity:0;
	}
	
	@keyframes fadeLeftAnime{
	  from {
		opacity: 0;
		transform: translateX(-100px);
	  }
	
	  to {
		opacity: 1;
		transform: translateX(0);
	  }
	}
	
	/* 右から */
	
	.fadeRight{
	animation-name:fadeRightAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	opacity:0;
	}

	.fadeRight1{
	animation-name:fadeRightAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
	opacity:0;
	}

	.fadeRight2{
	animation-name:fadeRightAnime;
	animation-duration:2s;
	animation-fill-mode:forwards;
	opacity:0;
	}

	.fadeRight3{
		animation-name:fadeRightAnime;
		animation-duration:3s;
		animation-fill-mode:forwards;
		opacity:0;
	}
	
	@keyframes fadeRightAnime{
	  from {
		opacity: 0;
		transform: translateX(100px);
	  }
	
	  to {
		opacity: 1;
		transform: translateX(0);
	  }
	}


/*==================================================
じわっ
===================================*/

/* ぼかしから出現 */
.blur{
	animation-name:blurAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
  }
  
  @keyframes blurAnime{
	from {
	filter: blur(10px);
	transform: scale(1.02);
	opacity: 0;
	}
  
	to {
	filter: blur(0);
	transform: scale(1);
	opacity: 1;
	}
  }
  
  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
  
  .blurTrigger{
    opacity: 0;
  }

