@charset "UTF-8";
#s-container {
  padding: 160px 10px 0 10px;
  min-height: 100vh;
}

@media (max-width: 767px) {
  #s-container {
    padding: 80px 10px 0 10px;
    min-height: 100vh;
  }
}

#s-wrapper {
  max-width: 1000px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
}

.s-right {
  max-width: 600px;
}

.s-right .s_lead {
  font-size: 40px;
  font-weight: 800;
  line-height: 80px;
  margin: 100px 0 50px 0;
}

.s-right .s_toptext {
  margin-bottom: 100px;
  line-height: 40px;
  font-family: dnp-shuei-mgothic-std, sans-serif;
  font-size: 16px;
}

.back_text {
  position: absolute;
  font-size: 150px;
  letter-spacing: 3px;
  color: #fff;
  bottom: 40%;
  left: -3%;
  z-index: -100;
  font-family: 'futura-pt';
}

.s-top-img1 {
  position: absolute;
  right: -5%;
  top: 10%;
  z-index: -1;
}

.s-top-img1 img {
  width: 300px;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.s-top-img2 {
  position: absolute;
  right: 10%;
  bottom: 3%;
  z-index: -2;
}

.s-top-img2 img {
  width: 300px;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  /* スマホ */
  #s-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 10px;
  }
  .s-right .s_lead {
    font-size: 25px;
    margin-top: 50px;
  }
  .s-right .s_toptext {
    margin-top: 100px;
    line-height: 30px;
    font-size: 13px;
  }
  .s_toptext {
    margin-top: 100px;
    line-height: 30px;
    font-size: 13px;
  }
  .s-top-img1 {
    position: absolute;
    top: 3%;
    right: 0%;
  }
  .s-top-img1 img {
    margin: 0 auto;
    width: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  }
  .s-top-img2 {
    position: absolute;
    top: 20%;
    right: 10%;
  }
  .s-top-img2 img {
    margin: 0 auto;
    width: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  }
  .back_text {
    font-size: 100px;
  }
}

/*===========================================================*/
/* 右に写真バージョン
/*===========================================================*/
.s-section1 {
  background-color: #fff;
}

.right-img-ver {
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

.right-img-ver .s-left-contents {
  width: 60%;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.right-img-ver .s-left-contents .s-contents-title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px 0;
}

.right-img-ver .s-left-contents .s-contents-text {
  line-height: 30px;
  font-family: dnp-shuei-mgothic-std, sans-serif;
  font-size: 16px;
  border-bottom: solid 2px;
  padding: 30px 0;
}

.right-img-ver .s-right-img {
  width: 40%;
  height: 100%;
}

.right-img-ver .s-right-img img {
  height: 100%;
}

.right-img-ver .s-contents-price {
  margin-top: 30px;
  font-family: 'futura-pt';
  font-weight: 700;
  font-size: 30px;
}

@media (max-width: 767px) {
  /* スマホ */
  .right-img-ver {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .right-img-ver .s-left-contents {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 50px 30px;
    height: 400px;
  }
  .right-img-ver .s-left-contents .s-contents-title {
    font-size: 20px;
  }
  .right-img-ver .s-left-contents .s-contents-text {
    line-height: 30px;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    font-size: 13px;
    border-bottom: solid 2px;
    padding: 30px 0;
  }
  .right-img-ver .s-right-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 400px;
  }
  .s-contents-price {
    font-size: 25px !important;
  }
}

/*===========================================================*/
/* 左に写真バージョン
/*===========================================================*/
.s-section2 {
  background-color: #fff;
}

.left-img-ver {
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

.left-img-ver .s-right-contents {
  width: 60%;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.left-img-ver .s-right-contents .s-RightContents-title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px 0;
}

.left-img-ver .s-right-contents .s-RightContents-text {
  line-height: 30px;
  font-family: dnp-shuei-mgothic-std, sans-serif;
  font-size: 16px;
  border-bottom: solid 2px;
  padding: 30px 0;
}

.left-img-ver .s-right-contents .s-contents-price {
  margin-top: 30px;
  font-family: 'futura-pt';
  font-weight: 700;
  font-size: 30px;
}

.left-img-ver .s-left-img {
  width: 40%;
  height: 100%;
}

.left-img-ver .s-left-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  /* スマホ */
  .left-img-ver {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .left-img-ver .s-right-contents {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 50px 30px;
    height: 400px;
  }
  .left-img-ver .s-right-contents .s-RightContents-title {
    font-size: 20px;
  }
  .left-img-ver .s-right-contents .s-RightContents-text {
    line-height: 30px;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    font-size: 13px;
    border-bottom: solid 2px;
    padding: 30px 0;
  }
  .left-img-ver .s-left-img {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .left-img-ver .s-left-img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .s-contents-price {
    font-size: 20px;
  }
}

/*==================================================
機能編 　9-1-5 スクロールをするとエリアの高さに合わせて線が伸びる
===================================*/
/*========= バー表示のためのCSS ===============*/
/*タイムライン全体の設定*/
.timeline {
  max-width: 600px;
  width: 100%;
  margin: 50px auto;
  padding: 0 30px;
}

.timeline li {
  /*線の起点とするためrelativeを設定*/
  position: relative;
  list-style: none;
  padding: 0 0 20px 0;
}

.timeline dl {
  margin: 0 0 20px 3em;
}

.timeline dd strong {
  display: block;
  padding: 10px 0;
}

/*絶対配置で線を設定*/
.border-line {
  /*線の位置*/
  position: absolute;
  left: 0.2em;
  top: 10%;
  width: 2px;
  /*線の太さ*/
  height: 0;
  /*はじめは高さを0に*/
  background: #ccc;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  width: 10px;
  height: 10px;
  background: #666;
  border-radius: 50%;
}

#FLOW {
  margin: 50px auto;
  max-width: 500px;
}

li {
  padding: 0 3%;
}

.flow-contents1 {
  padding-bottom: 20px;
}

.flow-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  margin-top: 50px;
}

.flow-contents .flow-num {
  border: solid 1px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
}

.flow-contents .flow-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: bold;
}

.flow-icon img {
  width: 50px;
}

.f-formBtn {
  margin: 30px 0 0 0;
  position: relative;
}

.f-formBtn .f-formBtn-a {
  border: solid 1px black;
  padding: 15px 50px;
  background-color: black;
  color: #fff;
  font-size: 13px;
}

.f-formBtn .f-formBtn-a::after {
  position: absolute;
  right: 5%;
  font-family: 'Material Icons';
  content: '\e5c8';
  font-size: 15px;
  color: #fff;
  top: 15%;
}

.f-formBtn .f-formBtn-a:hover {
  background-color: #F5F4F1;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.f-formBtn .f-formBtn-a:hover::after {
  position: absolute;
  right: 5%;
  font-family: 'Material Icons';
  content: '\e5c8';
  font-size: 15px;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 15%;
}

.flow-icon-phone {
  padding-top: 10px;
}

.flow-icon-phone img {
  width: 30px;
}

@media (min-width: 767px) {
  .flow-icon-phone {
    display: none;
  }
}

@media (max-width: 767px) {
  #FLOW {
    margin: 50px auto;
    max-width: 350px;
  }
  dd {
    display: none;
  }
  .flow-text {
    width: 70%;
    font-weight: normal;
    font-size: 13px;
  }
  .f-formBtn {
    font-size: 10px;
  }
  .f-formBtn a {
    font-size: 10px;
  }
  .f-formBtn-a {
    border: solid 1px black;
    padding: 10px 30px !important;
    background-color: black;
    color: #fff;
    font-size: 10px !important;
    position: relative;
  }
  .f-formBtn-a::after {
    position: absolute;
    right: 5%;
    font-family: 'Material Icons';
    content: '\e5c8';
    font-size: 10px !important;
    color: #fff;
    line-height: 22px;
  }
  .f-formBtn-a:hover {
    background-color: #F5F4F1;
    color: black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .f-formBtn-a:hover::after {
    position: absolute;
    right: 5%;
    font-family: 'Material Icons';
    content: '\e5c8';
    font-size: 10px !important;
    color: black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 22px;
  }
  .flow-contents1 {
    padding-bottom: 40px;
  }
  .flow-icon-phone {
    width: 20px;
  }
}
/*# sourceMappingURL=servis.css.map */