@charset "uft-8";
body {
    background: #F5F4F1;
    font-family: "游ゴシック体", YuGothic;
    color: #13274B;
}

/*===========================================================*/
/* ヘッダー
/*===========================================================*/

#h-wrapper {
    position: fixed;
    height: 120px;
    width: 100%;
    background: #F5F4F1;
    padding: 20px 20px 20px 0;
    z-index: 100;
    top: 0;
}

#header {
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px; // これで解決
    margin: auto;

}

h1 {
    font-family: dnp-shuei-mgothic-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 35px;
    padding-left: 20px;
}


#pc-nav {
    ul {
        display: flex;
        li {
            font-family: 'Mukta Vaani', sans-serif;
            font-weight: 700;
            padding: 0 15px;
            letter-spacing: 2px;
            font-size: 16px;
            a {
                position: relative;
            }
        }
    }
}

.gnavi li a{
    /*線の基点とするためrelativeを指定*/
	position: relative;
}

.gnavi li.current a,
.gnavi li a:hover{
	color: #EF7748;
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background: #EF7748;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

/*===========================================================*/
/* ハンバーガーメニュー
/*===========================================================*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position:fixed;
	z-index: -1;
	opacity: 0;/*はじめは透過0*/
    /*ナビの位置と形状*/
	top:0;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#D8CDC1;
    /*動き*/
	transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive{
	opacity: 1;
	z-index:999;
}

/*ナビゲーション*/
#g-nav ul {
    display: none;
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center; 
}

#g-nav li a{
	color: #13274B;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

.g-nav-text {
    line-height: 30px;
    font-family: 'Mukta Vaani', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 16px;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:30px;
	right: 20px;
	cursor: pointer;
    width: 70px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #13274B;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


@media (min-width: 767px) {
    #g-nav {
        display: none;
    }
    .openbtn {
        display: none;
    }
}

@media (max-width: 767px) {
    #pc-nav {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
}


/*===========================================================*/
/* トップ画面
/*===========================================================*/

h2 {
    font-family: Mukta Vaani;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 30px;
}


#top-main {
    height: 100vh;
    position: relative;
    padding-top: 140px;
}

#slider {
    width: 80%;
    height: 70vh;
    // position: relative;
    margin: 20px auto 0 auto;
    max-width: 1200px;
    z-index: -1;
}

.top_lead {
    position: absolute;
    top:500px;
    left:10%;
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    -webkit-text-stroke: 1px #000;
    line-height: 80px;
    z-index: 10;
}

.top_lead2 {
    position: absolute;
    bottom: 100px;
    right: 5px;
    text-align: right;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    letter-spacing: 20px;
    color: #EAE7E7;
}

@media (max-width: 767px) {
    .top_lead {
        font-size: 30px;
    }
    .top_lead2 {
        font-size: 70px;
        text-align: right;
    }
}

/*===========================================================*/
/* ヴィジョン
/*===========================================================*/

section {
    padding: 50px 10px;
}

#VISION {
    padding: 90px 10px;

}
.v_container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    position: relative;

    .vertical {
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        position: relative;
        padding: 20px;
        margin-top: 60px;
        font-family: Mukta Vaani;
        letter-spacing: 5px;
        font-size: 30px;
    }
    .vertical::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 120px;
        width: 1px;
        height: 200px;
        margin: 0 auto;
        background-color: #000;
    }

    .vision-box {
        margin: 0 50px;
        h3 {
            font-weight: 800;
            color: #fff;
            -webkit-text-stroke: 1px #000;
            margin: 30px;
            line-height: 50px;
            font-size: 25px;
            white-space: nowrap;
        }
        p {
            font-family: dnp-shuei-mgothic-std, sans-serif;
            padding-top: 50px;
            font-size: 16px;
            line-height: 40px;
            max-width: 800px;
        }
    }

    .v-box {
        position: absolute;
        content: '';
        width: 100%;
        height: 380px;
        max-width: 1100px;
        z-index: -1;
        background-color: #D8CDC1;
        bottom: 0;
    }
}

/*矢印が右に移動して背景がつく*/

.v-btn{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
    float: right;
    margin: 30px 0;
	text-decoration: none;
	display: inline-block;
   	border: 1px solid #13274B;/* ボーダーの色と太さ */
    padding: 15px 100px;
    text-align: center;
    outline: none;
    letter-spacing: 2px;
    font-size: 13px;
    /*アニメーションの指定*/   
    transition: ease .2s;
}

/*ボタン内spanの形状*/
.v-btn span {
	position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color:#13274B;
}

.v-btn:hover span{
	color:#D8CDC1;
    border: none;
}

/*== 背景が流れる（斜め） */
.bgskew::before {
	content: '';
    /*絶対配置で位置を指定*/
	position: absolute;
	top: 0;
	left: -130%;
    /*色や形状*/
	background: #13274B;
	width:120%;
	height: 100%;
	transform: skewX(-25deg);
}

/*hoverした時のアニメーション*/
.bgskew:hover::before {
	animation: skewanime .5s forwards;/*アニメーションの名前と速度を定義*/
}

@keyframes skewanime {
	100% {
		left:-10%;/*画面の見えていない左から右へ移動する終了地点*/
	}
}

.yajirushi {
    position: relative;
}

.v-btn::after {
    position: absolute;
    right: 5%;
    font-family: 'Material Icons';
    content: '\e5c8';
    font-size: 15px;
    color: #13274B;
    z-index: 10;
}

.v-btn:hover::after {
    position: absolute;
    font-family: 'Material Icons';
    content: '\e5c8';
    font-size: 15px;
    color: #D8CDC1;
    z-index: 10;
    right: 5%;
    
}
@media (min-width: 767px) {
    .v-title,
    .v-subtitle {
        display: none;
    }
}


@media (max-width: 767px) {
    #VISION {
        background-color: #D8CDC1;
    }
    .vertical::after {
        display: none;
    }
    .vertical {
        display: none;
    }
    .v-btn {
        text-align: center;
    }
    .v-box {
        display: none;
    }
    .v-title {
        text-align: center;
    }
    .v-subtitle {
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }
    h3 {
        font-size: 20px;
    }
}


article {
    height: 500px;
    background-color: #13274B;
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

/*===========================================================*/
/* ヴィジョン
/*===========================================================*/

.c-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.s-title {
    text-align: center;
    margin-top: 30px;
}

.subtitle {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.s-text {
    margin: 0 auto;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    padding: 50px 10px;
    font-size: 16px;
    line-height: 40px;
    max-width: 600px
}

@media (max-width: 767px) {
    .s-text {
        line-height: 35px;
        font-size: 14px;
        padding: 50px 25px;
    }
}

// #SERVICE {
//     padding: 50px 10px;
// }

#s-contents {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1100px;
    
    .s-box {
        background-color: #fff;
        width: 300px;
        height: 400px;
        margin: 30px;
        text-align: center;
        padding: 0 0 10px 20px;
        box-shadow: 0 0 10px rgb(177, 177, 177);
        padding: 30px 20px;
        h3 {
            font-size: 20px;
            font-weight: bold;
            margin: 40px 0;
        }
        p {
            font-family: dnp-shuei-mgothic-std, sans-serif;
            font-size: 13px;
            line-height: 30px;
        }
    
    }
}

.icon-1:before  {
    font-family: 'Material Icons';
    content: '\e3c4';
    font-size: 80px;
    text-align: center;
    color: #000;
    padding: 30px auto;
}

.icon-2:before  {
    font-family: 'Material Icons';
    content: '\e326';
    font-size: 80px;
    text-align: center;
    color: #000;
}


.icon-3:before  {
    font-family: 'Material Icons';
    content: '\e9b4';
    font-size: 80px;
    text-align: center;
    color: #000;
}


.a-center {
    text-align:center;
    display: flex;
    justify-content: center;
}

.s-btn{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
    margin: 30px auto;
	text-decoration: none;
	display: inline-block;
   	// border: 1px solid #13274B;/* ボーダーの色と太さ */
    background-color: #EF7748;
    padding: 15px 100px;
    text-align: center;
    outline: none;
    letter-spacing: 2px;
    font-size: 13px;
    /*アニメーションの指定*/   
    transition: ease .2s;
}

/*ボタン内spanの形状*/
.s-btn span {
	position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color: #fff;
}

.s-btn:hover span{
	color:#fff;
    border: none;
}

/*== 背景が流れる（斜め） */
.s-bgskew::before {
	content: '';
    /*絶対配置で位置を指定*/
	position: absolute;
	top: 0;
	left: -130%;
    /*色や形状*/
	background: #13274B;
	width:120%;
	height: 100%;
	transform: skewX(-25deg);
}

/*hoverした時のアニメーション*/
.s-bgskew:hover::before {
	animation: skewanime .5s forwards;/*アニメーションの名前と速度を定義*/
}

@keyframes skewanime {
	100% {
		left:-10%;/*画面の見えていない左から右へ移動する終了地点*/
	}
}

#WORKS {
    padding: 50px 10px;
    // fff
}

.w-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
    img {
        width: 330px;
        height: 330px;
        margin: 10px;
        object-fit: cover;
        box-shadow: 0 0 20px rgb(177, 177, 177);
        float: left;
    }
}

.separate {
    display: flex;
    width: 100%;
    // background-color: #fff;
    #CONPANY {
        width: 50%;
        padding: 50px 10px;
        background-color: #D8CDC1;
        text-align: center;
    }
    #RICRUT {
        width: 50%;
        padding: 50px 10px;
        background-color: #13274B;
        text-align: center;
        color: #D8CDC1;
    }
}

@media (max-width: 767px) {
    .separate {
        display: block;
        #CONPANY {
            width: 100%;
            padding: 50px 10px;
            background-color: #D8CDC1;
            text-align: center;
        }
        #RICRUT {
            width: 100%;
            padding: 50px 10px;
            background-color: #13274B;
            text-align: center;
            color: #D8CDC1;
        }
    }
}

.ricrut-btn{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
    float: right;
    margin: 30px 0;
	text-decoration: none;
	display: inline-block;
   	border: 1px solid #D8CDC1;/* ボーダーの色と太さ */
    padding: 15px 100px;
    text-align: center;
    outline: none;
    letter-spacing: 2px;
    font-size: 13px;
    /*アニメーションの指定*/   
    transition: ease .2s;
}


/*ボタン内spanの形状*/
.ricrut-btn span {
	position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color:#D8CDC1;
}

.ricrut-btn:hover span{
	color:#13274B;
    border: none;
}

/*== 背景が流れる（斜め） */
.ricrut-bgskew::before {
	content: '';
    /*絶対配置で位置を指定*/
	position: absolute;
	top: 0;
	left: -130%;
    /*色や形状*/
	background: #D8CDC1;
	width:120%;
	height: 100%;
	transform: skewX(-25deg);
}

/*hoverした時のアニメーション*/
.ricrut-bgskew:hover::before {
	animation: skewanime .5s forwards;/*アニメーションの名前と速度を定義*/
}

@keyframes skewanime {
	100% {
		left:-10%;/*画面の見えていない左から右へ移動する終了地点*/
	}
}

.ricrut-btn::after  {
    position: absolute;
    font-family: 'Material Icons';
    content: '\e5c8';
    font-size: 15px;
    color: #D8CDC1;
    right: 5%;
}

.ricrut-btn:hover::after  {
    position: absolute;
    font-family: 'Material Icons';
    content: '\e5c8';
    font-size: 15px;
    color: #13274B;
    right: 5%;
}

.separate_text {
    margin: 50px 0 20px 0;
    font-weight: bold;
    font-family: dnp-shuei-mgothic-std, sans-serif;
}

#CONTACT {
    text-align: center;
    background-color: #F4AB90;
    width: 100%;
    padding: 50px 10px;
    .contact_text {
        color: #fff;
        margin-top: 30px;
    }

    h2 {
        margin-top: 30px;
    }
}



.form-btn{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
    margin: 30px 20px;
	text-decoration: none;
	display: inline-block;
   	border: 1px solid #13274B;/* ボーダーの色と太さ */
    padding: 15px 100px;
    text-align: center;
    outline: none;
    letter-spacing: 2px;
    font-size: 13px;
    /*アニメーションの指定*/   
    transition: ease .2s;
}


/*ボタン内spanの形状*/
.form-btn span {
	position: relative;
	z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
	color: #13274B;
}

.form-btn:hover span{
	color: #F4AB90;
    border: none;
}

/*== 背景が流れる（斜め） */
.form-bgskew::before {
	content: '';
    /*絶対配置で位置を指定*/
	position: absolute;
	top: 0;
	left: -130%;
    /*色や形状*/
	background: #13274B;
	width:120%;
	height: 100%;
	transform: skewX(-25deg);
}

/*hoverした時のアニメーション*/
.form-bgskew:hover::before {
	animation: skewanime .5s forwards;/*アニメーションの名前と速度を定義*/
}

@keyframes skewanime {
	100% {
		left:-10%;/*画面の見えていない左から右へ移動する終了地点*/
	}
}

.form-btn::after  {
    position: absolute;
    font-family: 'Material Icons';
    content: '\e5c8';
    font-size: 15px;
    color: #13274B;
    right: 5%;
}

.form-btn:hover::after  {
    position: absolute;
    font-family: 'Material Icons';
    content: '\e5c8';
    font-size: 15px;
    color: #F4AB90;
    right: 5%;
}


.contact{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        font-size: 20px;
        display: block;
        font-family: 'Mukta Vaani', sans-serif;
        font-weight: 700;
    }
    .tel {
        margin: 50px 0 30px 0;
        position: relative;
    }
    .mail{
        margin:0 0 6vh 0;
        position: relative;
    }
}

.tel::before {
    position: absolute;
    left: 10px;
    font-family: 'Material Icons';
    content: '\e0b0';
    font-size: 25px;
    color: #13274B;
}

.mail::before {
    position: absolute;
    left: -20%;
    font-family: 'Material Icons';
    content: '\e0be';
    font-size: 25px;
    color: #13274B;
}

.tel:hover {
    color: #fff;
}

.mail:hover {
    color: #fff;
}

.tel::before:hover {
    color: #F4AB90;
}

.mail::before:hover {
    color: #F4AB90;
}

#Follow {
    text-align: center;
    padding: 50px 0;
    .sns-link {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            width: 20px;
            color: #13274B;
        }
        img {
            color: #13274B;
        }
    }
}


.sns-link li{
    display: inline-block;
    margin: 50px 20px;
}

.sns-link li img{
    width:30px;
}

.footer-contents {
    text-align: center;
}


// @media (min-width: 767px) {
//     .btn_text {
//         font-size: 10px;
//     }
// }