@charset "uft-8";
body {
    background: #F5F4F1;
    font-family: "游ゴシック体", YuGothic;
    color: #13274B;
}

#h-wrapper {
    position: fixed;
    height: 120px;
    width: 100%;
    background: #F5F4F1;
    padding: 20px;
}

#header {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px; // これで解決
    margin: auto;
}


#pc-nav {
    ul {
        display: flex;
        li {
            font-family: Mukta Vaani;
            padding: 0 10px;
            letter-spacing: 3px;
            font-size: 13px;
        }
    }
}

h2 {
    font-family: Mukta Vaani;
    letter-spacing: 3px;
}

main {
    padding-top: 120px;
}
// #slider {
//     width: 70%;
//     margin: 0 auto;
//     max-width: 1200px;
//     img {
//         width: 100%;
//     }
// }


